<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trieka.latihanandroid">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu.DeatailUserActivity"></activity>
        <activity android:name=".Menu.GetListActivity" />
        <activity android:name=".Menu.ParsingJSONActivity" />
        <activity android:name=".Menu.GetStringActivity" />
        <activity android:name=".Menu.GlideActivity" />
        <activity android:name=".Menu.PicassoActivity" />
        <activity android:name=".Menu.VolleyActivity" />
        <activity android:name=".Menu.GaleryActivity" />
        <activity android:name=".Menu.CameraActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>